
<nav class="navbar navbar-expand-md navbar-dark avatar px-5">
  <a class="navbar-brand font-weight-bold pl-lg-5" href="#">Fotobook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline mt-2 my-lg-0 w-100 col-lg-5 ">
          <input class="form-control my-lg-0 w-100" type="search" placeholder="Search Photo / Album" aria-label="Search">
        </form>

        <ul class="navbar-nav col-lg-auto text-center offset-lg-4 offset-md-4">
          <li class="nav-item active d-none d-lg-block">
            <button type="button" class="nav-link btn btn-light font-weight-bold rounded-circle text-color"><%= "#{current_user.lastname[0]}#{current_user.firstname[0]}"%></button>
          </li>
          <li class="nav-item active mr-lg-5">
            <a class="nav-link" href="#"><%= "#{current_user.lastname} #{current_user.firstname}" %></a>
          </li>
          <li class="nav-item active ml-lg-5">
            <%=link_to "Logout", destroy_user_session_path, method: 'delete', class:"nav-link" %>
          </li>
        </ul>
  </div>
</nav>

    <div class="container-fluid h-100">
        <div class="row page h-100">
          <div class="col-lg-2 pt-4 justify-content-center ">
            <ul class="nav flex-lg-column pl-lg-5 p-md-auto justify-content-center">
              <li class="nav-item">
                <a class="nav-link text-color font-weight-bold" href="">Feeds</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-gray font-weight-bold" href="<%=discover_photos_path%>">Discover</a>
              </li>
            </ul>
          </div>
            <div class="col-lg-8 p-3 h-100">
              <div class="col bg-white h-100">
                <div class="row justify-content-center">
                  <div class="row m-3 btn-group">
                    <a href="<%=authenticated_root_path%>" class="btn rounded-left text-color font-weight-bold" role="button" id="photo-tab"> PHOTO </a>
                    <a href="" class="btn rounded-right avatar font-weight-bold" role="button" id="album-tab"> ALBUM </a>
                  </div>
                </div>

                    <div class="row">
                      <% if @albums %>
                       <% @albums.each do |album| %>
                       <div class="col-lg-6 col-sm-12 col-md-6 p-3 d-lg-inline-flex" >
                        <div class="col-lg-6 col-sm-12 col-md-12 box-shadow position-relative p-4 text-center page border-right-0">
                         <img src="https://www.islandair.com/wp-content/uploads/2018/07/ellie-adams-247024-unsplash.jpg" class="rotate5 " data-toggle="modal" data-target="#modal-album" title="<%=album.title%>" desc="<%=album.description%>">
                         <img src="https://www.islandair.com/wp-content/uploads/2018/07/ellie-adams-247024-unsplash.jpg" class="rotate10 " data-toggle="modal" data-target="#modal-album" title="<%=album.title%>" desc="<%=album.description%>">
                         <img src="https://www.islandair.com/wp-content/uploads/2018/07/ellie-adams-247024-unsplash.jpg" class="norotate" data-toggle="modal" data-target="#modal-album" title="<%=album.title%>" desc="<%=album.description%>">

                        </div>
                        <div class="col-lg-6 p-2 col-sm-12 col-md-12 page d-block box-shadow position-relative border-left-0">
                          <div class="container h-100">
                            <div class="d-flex align-items-center mb-2">
                              <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" class="rounded-circle" style="width:30px;height:30px;" alt="" />
                              <span class="font-weight-bold text-color ml-2"><%= "#{album.user.lastname} #{album.user.firstname}" %></span>

                            </div>

                            <span><b><%=album.title%></b></span>
                            <p class=" font-size"><%=album.description%></p>
                            <div>
                              <span class="blue-heart"><i class="fas fa-heart"></i></span>
                              <span><small><%= album.likes.size %> </small></span>
                              <span class="float-right"><small class="text-secondary "><%= album.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    <% end %>

                    </div>


              </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

  <%= render "modal" %>
