
<div class="container-fluid h-100">
    <div class="row page h-100">
      <div class="col-lg-2 pt-4 justify-content-center ">
        <ul class="nav flex-lg-column pl-lg-5 pl-md-5 p-md-auto justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-gray font-weight-bold" href="<%=authenticated_root_path%>">Feeds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray font-weight-bold" href="<%=discover_photos_path%>">Discover</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8 p-3 h-100">
        <div class="col bg-white h-100 px-lg-4 pb-4">
                <div class="font-weight-bold border-bottom d-flex justify-content-between align-items-center py-3">
                    <p class="h5">Edit Album </p>
                    <a class="btn avatar" href="<%= user_path(current_user) %>">Back </a>
                </div>

                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= "#{value}" %></div>
                <% end %>

                <div class="row justify-content-between mt-3">
                    <div class="col-md-6 col-sm-12">
                      <%= form_for @album do |f| %>
                        <div class="form-group">
                            <%= f.label :title %>
                            <%= f.text_field :title, placeholder: "Album Title", class:"form-control col-md-11" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :shared, "Sharing mode" %> <br/>
                            <%= f.select(:shared, [['Public','true'], ['Private','false']], {}, { :class => 'col-lg-5 col-md-11 custom-select' }) %>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <%= f.label :description %> <br/>
                        <%= f.text_area :description, rows: "5", placeholder:"Album Description", class:"form-control" %>
                    </div>
                </div>
                <div class="row mt-3 mx-1">
                  <% if @photos %>
                  <% @photos.each do |photo| %>
                  <div class="browse-field mr-3 mb-3">
                    <div class="browse-field position-relative">
                    <%= image_tag photo.image.url, class:"browse-field" %>
                    <%= link_to raw('<i class="fas fa-times fa-lg"></i>'), photo_path(photo), class:"position-absolute text-dark", style:"top:3%; right:5%;",method: :delete, data: {confirm: 'Are you sure?'} %>

                    </div>
                    <!-- <i class="fas fa-times"</i> -->

                  </div>
                  <% end %>
                  <% end %>
                  <div class="form-group uploader-hold" >
                    <%= f.file_field :image, { class:"browse-field opacity-0" } %>
                  </div>
                </div>
                <div class="row mt-3 mx-1">
                  <%= f.submit "Save", class: "btn btn-success" %>
                  <%= link_to raw('<i class="far fa-trash-alt mr-1"></i>Delete'), album_path(@album), class: 'btn btn-danger ml-5', method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
                <% end %>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
